.posts-container {
  padding: 0 2rem;
  max-width: 490px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: 698px) {
    max-width: 850px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  .posts {
    max-width: 100%;
    margin: 5rem auto 0;

    a {
      display: block;

      & + a {
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 1px solid var(--border);
      }

      time {
        font-size: 0.875rem;
        display: flex;
        align-items: center;
        color: var(--text);
      }

      strong {
        color: var(--title);
        display: block;
        font-size: 1.2rem;
        margin-top: 1rem;
        line-height: 2rem;
        transition: color 0.2s;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
      }

      p {
        color: var(--text);
        margin-top: 0.5rem;
        line-height: 1.625rem;
        font-size: 0.875rem;
      }

      &:hover strong {
        color: var(--text);
      }
    }
  }
}
