* {
  color: var(--post-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  ::-webkit-scrollbar {
    width: 1rem;
    background: var(--background);
  }
  ::-webkit-scrollbar-thumb {
    border: 5px solid var(--background);
    background: var(--border);
    border-radius: 100vw;
  }
}

:root {
  --primary: #f0c808;
  --secondary: #ff6d5f;
  //////////////////////////////////////
  --primary-yellow: #f0c808;
  --text: #a8a8b3;
  --post-text: #c6c6ca;
  --background: #070707;
  --box-background: #18181a;
  --border: #323238;
  --title: #ffffff;
}

html {
  overflow-y: scroll;
  font-size: 87.5%;

  @media (min-width: 768px) {
    font-size: 93.75;
  }
}

body {
  background-color: var(--background);
  height: 100%;
}

a,
button,
input,
select,
textarea {
  font-size: 1rem;
  color: inherit;
}

footer.footer {
  width: 100%;
  max-width: 490px;
  margin: 0 auto;
  padding: 1rem 2rem 4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 420px) {
    flex-direction: row;
  }

  @media (min-width: 698px) {
    max-width: 850px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  span.copy {
    color: var(--primary);
    font-family: "Syne", sans-serif;
    font-size: 1.25rem;
  }

  .icons-container {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    .icon-link {
      display: block;

      > img {
        user-select: none;
        cursor: pointer;
        width: 25px;
        height: 25px;
        display: block;
      }
    }
  }
}
