.container {
  padding: 0 2rem;
  max-width: 1120px;
  margin: 0 auto;
}

.post {
  max-width: 80%;
  margin: 5rem auto 0;

 > img {
    margin-top: 1rem;
    max-width: 100%;
    border-radius: 5px;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: 900;
  }

  time {
    display: block;
    font-size: 1rem;
    color: var(--post-text);
    margin-top: 1.5rem;
  }

  .postContent {
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1.125rem;
    color: var(--post-text);

    p, ul {
      margin: 1.5rem 0;
    }

    ul {
      padding-left: 1.5rem;

      li {
        margin: 0.5rem 0;
      }
    }
  }
  
}

form {
  max-width: 85%;
  padding: 0 2rem;
  margin: 5rem auto;

  button[type="submit"] {
    color: white;
    background-color: var(--primary);
    border-radius: 8px;
    padding: 1rem 3rem;
  }

  textarea{
    width: 100%;
    border: 0;
    padding: 16px;
    border-radius: 8px;
    background: #fefefe;
    box-shadow: 0 2px 12px rgba(0,0,0,0.08);
    resize: vertical;
    min-height: 100px;
  }

  .formFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;

    .userInfo {
      display: flex;
      align-items: center;
      
      > img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: #29292e;
        font-weight: 500;
        font-size: 15px;
      }
    }
    
    > span {
      font-size: 14px;
      color: #737380;
      font-weight: 500;

      button {
        background: transparent;
        border: 0;
        color: #835AFD;
        text-decoration: underline;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}
