.container {
  padding: 0 2rem;
  max-width: 490px;
  margin: 0 auto;

  @media (min-width: 698px) {
    max-width: 850px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (max-width: 320px) {
    article > img {
      border-radius: 20px;
    }
  }

  .comments {
    padding-bottom: 2rem;
  }
}

.post {
  max-width: 90%;
  margin: 5rem auto 0;

  @media (max-width: 600px) {
    max-width: 100%;
    margin: 2rem auto 0;
  }

  > img {
    margin-top: 2rem;
    max-width: 100%;
    border-radius: 1.875rem;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    max-width: 90%;
    color: var(--title);

    @media (max-width: 940px) {
      max-width: 100%;
      font-size: 2.3rem;
    }

    @media (max-width: 440px) {
      max-width: 100%;
      font-size: 2rem;
    }

    @media (max-width: 320px) {
      font-size: 1.5rem;
    }
  }

  time {
    display: block;
    font-size: 1rem;
    color: var(--text);
    margin-top: 1.5rem;
  }

  .postContent {
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1.125rem;
    color: var(--post-text);

    p,
    ul {
      margin: 1.5rem 0;
      font-weight: normal;

      @media (max-width: 440px) {
        max-width: 100%;
        font-size: 0.875rem;
        line-height: 1.7;
      }
    }

    ul {
      padding-left: 1.5rem;

      li {
        margin: 0.5rem 0;
      }
    }
  }
}

form {
  max-width: 90%;
  margin: 5rem auto;

  @media (max-width: 600px) {
    max-width: 100%;
    padding: 0rem;
  }

  button[type="submit"] {
    color: black;
    background-color: var(--title);
    border-radius: 8px;
    padding: 1rem 3rem;

    @media (max-width: 300px) {
      padding: 1rem 2rem;
    }
  }

  textarea {
    width: 100%;
    border: 0;
    padding: 16px;
    border-radius: 8px;
    background: var(--box-background);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.123);
    resize: vertical;
    min-height: 120px;
  }

  .formFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;

    span.loginBeforeComment {
      display: block;
      color: var(--primary);
    }
  }

  .userInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;

    > div {
      max-width: calc(100% - 135px);
      display: flex;
      align-items: center;
      width: 100%;

      > img {
        margin-right: 8px;
        width: 30px;
        height: 30px;
        border-radius: 100vw;
      }

      > span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: none;

        @media (min-width: 300px) {
          display: block;
        }
      }
    }

    button {
      flex-shrink: 0; // Prevent the button from pushing the span
      padding: 1rem 2rem;
    }
  }
}
