header {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;
      gap: 2rem;
      list-style-type: none;

      > .username {
        padding: 0.5rem 2rem;
        border-radius: 9999px;
        background: #459BFF;
        color: white;
        border: none;

        display: flex;
        align-items: center;
      }

      .close-icon {
        margin-left: 1rem;
        width: 20px;
        height: 20px;
      }
    }

    .login-btn {
      color: #ffff;
      background: #459BFF;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      padding: 0.5rem 1rem;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}