.header {
  max-width: 490px;
  user-select: none;
  margin: 0 auto;
  padding: 0.625rem 2rem;

  @media (min-width: 698px) {
    max-width: 850px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  .userContainer {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .userImage {
    border-radius: 10rem;
    width: 30px;
    height: 30px;

    @media (min-width: 390px) {
      width: 40px;
      height: 40px;
    }
  }

  .loggedInSpan {
    font-size: 1rem;
    color: var(--title);
  }

  .username {
    color: var(--title);
    border: none;
    display: flex;
    align-items: center;
  }

  .loginBtn {
    color: var(--title);
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: var(--primary);
    }
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .ul {
      display: flex;
      align-items: center;
      gap: 2rem;
      list-style-type: none;

      a {
        display: inline-block;
        position: relative;
        color: var(--title);
        height: 5rem;
        line-height: 5rem;
        transition-duration: 0.1s;
        transition-property: color;

        &:hover {
          color: var(--primary);
        }

        &.active::after {
          content: "";
          height: 3px;
          width: 100%;
          border-radius: 3px 3px 0 0;
          position: absolute;
          bottom: 15px;
          left: 0;
          background: var(--primary);
        }
      }

      .close-icon {
        margin-left: 1rem;
        width: 20px;
        height: 20px;
      }
    }
  }

  .mobileMenuContainer {
    display: none;
  }
}
