.comment {
  max-width: 80%;
  margin: 0 auto;

  @media (max-width: 600px) {
    max-width: 100%;
  }

  background: var(--box-background);
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.123);
  padding: 24px;

  & + .comment {
    margin-top: 1rem;
  }

  p {
    color: var(--text);
  }

  button.liked {
    color: var(--primary);

    svg path {
      stroke: var(--primary);
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    gap: 40;

    .user-info {
      width: 100%;
      max-width: calc(100% - 55px);
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        color: var(--text);
        font-size: 15px;
        display: block;
        width: 100%;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    > div {
      display: flex;
      gap: 16px;
    }

    button {
      width: fit-content;
      border: 0;
      background: transparent;
      cursor: pointer;

      &.like-button {
        display: flex;
        align-items: center;
        color: var(--text);
        gap: 8px;
        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.8);
        }

        .likeIcon {
          width: 24px; // Adjust the width to your desired size
          height: 24px;
          display: block;
        }

        &.liked {
          color: var(--primary);

          svg path {
            stroke: var(--primary);
          }
        }
      }
    }
  }
}
