.comment {
  max-width: 80%;
  margin: 0 auto;

  background: #fdfdfd;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.123);
  padding: 24px;

  & + .comment {
    margin-top: 1rem;
  }

  p {
    color: #29292e;
  }


  button.liked {
    color: #459BFF;

    svg path {
      stroke: #459BFF;
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;
      
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: #737380;
        font-size: 15px;
      }
    }

    > div {
      display: flex;
      gap: 16px;
    }
  
    button {
      border: 0;
      background: transparent;
      cursor: pointer;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: 8px;
        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.8);
        }

        &.liked {
          color: #459BFF;

          svg path {
            stroke: #459BFF;
          }
        }
      }
    }
  }
}